form{
    margin: 200px auto;
    padding: 30px;
    border: 2px solid #6b829b;
    width: 600px;
}
input[type=text], select, textarea {
    width: 55%;
    padding: 10px;
    border: 2px solid #7c9cc4;
    background-color: #dae2f3;
    resize: vertical;
}
input[type=submit] {
    background-color: #588def;
    color: black;
    padding: 12px 20px;
    align-items: center;
    border: 2px solid #5ba1fc;
    border-radius: 8px;
    cursor: pointer;
}
.row:after {
    content: "";
    align: center;
    display: table;
    clear: both;
    margin: 20px auto;
}
.col-30 {
    float: left;
    width: 30%;
    margin-top: 14px;
}
.col-60 {
    float: left;
    width: 60%;
    margin-top: 20px;
}
table {
    /*align: center;*/
    width: 100%;
    border-collapse: collapse;
}
table, td, th {
    /*border: 1px solid black;*/
    text-align: center;
    padding: 10px;
}
